<div data-container data-component="container" class="trillo-container" style="padding: 0px 20px" data-category="container">
  <div data-component="container" class="container-fluid" style="min-height: 100px" data-category="Layouts">
  </div>
  <div data-component="row12Col" data-row class="row"   data-category="Layouts">
    <div data-column class="col-12">
    </div>
  </div>
  <div data-component="row12ColSmall" data-row class="row"   data-category="Layouts">
    <div data-column class="col-sm-12">
    </div>
  </div>
  <div data-component="row12ColMedium" data-row class="row"   data-category="Layouts">
    <div data-column class="col-md-12">
    </div>
  </div>
  <div data-component="row12ColLarge" data-row class="row"   data-category="Layouts">
    <div data-column class="col-lg-12">
    </div>
  </div>
  <div data-component="row12ColXLarge" data-row class="row"   data-category="Layouts">
    <div data-column class="col-xl-12">
    </div>
  </div>
  <div data-component="row" class="trillo-container-row" data-category="Layouts">
  </div>
  <div data-component="column" class="trillo-container-column" data-category="Layouts">
  </div>
  <p data-component="p" class="trillo-component" data-content-editable="true">
    This is a para.
  </p>
  <div data-component="div" class="trillo-component" data-content-editable="true">
    This is a div element
  </div>
  <img data-component="img" class="trillo-component" src="https://www.trillo.io//collager/Builder/static/img/place-holder.png" style="width:400px, height: 400px" />
  <h1 data-component="h1" class="trillo-component" data-content-editable="true" data-category="Headers">
    Heading 1
  </h1>
  <h2 data-component="h2" class="trillo-component" data-content-editable="true" data-category="Headers">
    Heading 2
  </h2>
  <h3 data-component="h3" class="trillo-component" data-content-editable="true" data-category="Headers">
    Heading 2
  </h3>
  <h4 data-component="h4" class="trillo-component" data-content-editable="true" data-category="Headers">
    Heading 4
  </h4>
  <h5 data-component="h5" class="trillo-component" data-content-editable="true" data-category="Headers">
    Heading 5
  </h5>
  <h6 data-component="h6" class="trillo-component" data-content-editable="true" data-category="Headers">
    Heading 6
  </h6>
</div>
