<div class="trillo-tree-container-container js-non-native-scrollbar">
  <div class="trillo-tree-container js-tree-container">
    <div class="trillo-tree js-tree">
      <div class="tree-node js-tree-node lvl0">
        <div class="trillo-tree-item js-tree-node-inner">
          <span nm="name">Item1</span>
        </div>
      </div>
      <div class="tree-node js-tree-node lvl0">
        <div class="trillo-tree-item js-tree-node-inner">
          <span nm="name">Item2</span>
        </div>
        <div class="tree-node js-tree-node lvl1">
          <div class="trillo-tree-item js-tree-node-inner">
            <span nm="name">Item21</span>
          </div>
        </div>
        <div class="tree-node js-tree-node lvl1">
          <div class="trillo-tree-item js-tree-node-inner">
            <span nm="name">Item22</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>